<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GadgetGlobe | One-Stop Solution for Your Tech Products</title>
</head>
<body>
    
    <!-- Navbar -->
    {% include 'base/components/navbar.html' %}
    <hr/>

    <!-- Main Content -->
    <section class="main-content">
        {% block 'main-content' %}{% endblock %}
    </section>
    <hr/>
    
    <!-- Footer -->
    {% include 'base/components/footer.html' %}
    
</body>
</html>