<section class="navbar">
  <h1>GadgetGlobe</h1>

  <div class="nav-items" style="display: flex; gap: 5rem;">
    <p><a href="{% url 'homePage' %}" style="text-decoration: none;">Home</a></p>
    <p><a href="{% url 'productList' %}" style="text-decoration: none;">Desktop</a></p>
    <p><a href="{% url 'productList' %}" style="text-decoration: none;">Laptop</a></p>
    <p><a href="{% url 'productList' %}" style="text-decoration: none;">Components</a></p>
    <p><a href="{% url 'productList' %}" style="text-decoration: none;">Monitor</a></p>
    <p><a href="{% url 'productList' %}" style="text-decoration: none;">TV</a></p>

    <!-- Login/Logout Button -->
    <p>
        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}"><button>Login</button></a>
        {% endif %}
    </p>
  </div>
</section>
