<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GadgetGlobe | One-Stop Solution for Your Tech Products</title>
</head>
<body>
    
    <!-- Navbar -->
    <section class="navbar"><h1>Navbar</h1></section>
    <hr/>
    <!-- Main Content -->
    <section class="main-content">
        <h1>Main Content</h1>
        <hr/>
        {% block 'main-content' %}{% endblock %}
    </section>
    <hr/>
    <!-- Footer -->
    <section class="footer"><h1>Footer</h1></section>
    
</body>
</html>